* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "gilroy-medium", sans-serif;
  }
  body {
    overflow-x: hidden;
  }
  .hero--page {
    width: 100vw;
    min-height: 100vh;
    background-image: url("project_img/aurora.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2.5rem;
  }
  nav {
    width: 10 0%;
    min-height: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul {
    margin-left: -5rem;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-right: 3rem;
  }
  
  .nav--links {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: rgb(73, 71, 71);
    font-weight: 600;
    cursor: pointer;
  }
  .nav--links:hover {
    color: #005ae2;
  }
  .active {
    color: #005ae2;
  }
  .nav--icon {
    width: 1rem;
    height: 1rem;
    transform: translate(0%, 20%);
  }
  .nav--btn {
    width: 10rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-left: 0.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    border: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .blue--bgrcl {
    background-color: #005ae2;
  }
  .sp--lk {
    text-decoration: none;
    font-weight: 550;
  }
  .wt {
    color: #fff;
  }
  .hero--introParagraph {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding-top: 5rem;
  }
  .hero--headig {
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    line-height: 2;
  }
  span {
    color: #005ae2;
  }
  .intro--img {
    width: 10rem;
    position: absolute;
    left: 45%;
  }
  .vector--img {
    display: inline-block;
    width: 10rem;
    transform: translate(10%, -120%);
  }
  .hero--p {
    text-align: center;
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .hero {
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 4.5rem;
  }
  .hero--img {
    text-align: center;
    padding-top: 3.5rem;
  }
  .group2 {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
  }
  
  main {
    padding-top: 5rem;
  }
  summary {
    width: 100%;
    height: 10rem;
    background-color: #f9fbfd;
    padding-left: 10%;
    padding-top: 3%;
  }
  .grid--container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 15rem 15rem 15rem 15rem;
    justify-content: center;
  }
  .grid--h2,
  .grid--h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: -2px;
  }
  b {
    color: #005ae2;
  }
  .grid--h2 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
  .grid--p {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(39, 37, 37);
    margin-bottom: 1.2rem;
  }
  article {
    width: 100%;
    min-height: 30rem;
    background-color: #fff;
  }
  .article--grid--container {
    width: 80%;
    display: grid;
    grid-template-columns: 35rem 25rem 25rem;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    padding-top: 8%;
    gap: 5rem 5rem;
  }
  .gridSpan {
    grid-row: span 2/-4;
  }
  .article--img-first {
    width: 4px;
    height: 25px;
    display: inline-block;
    margin-right: 0.5rem;
  }
  .img--wrapper {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #d9e3f3;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .article--img {
    width: 50%;
    height: 50%;
    transform: translate(5%, 50%);
  }
  
  .article--h3-1stChild {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -1px;
  }
  .article--h3 {
    font-size: 2rem;
    font-weight: 580;
  
    letter-spacing: -1px;
  }
  .article--p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1.7;
    padding-top: 1.5rem;
  }
  .accordion--container {
    width: 80%;
    min-height: 25rem;
    margin: 0 auto;
  }
  .accordion--h4 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: -1px;
    transform: translate(-5%, -30%);
  }
  .accordion--p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding-bottom: 15rem;
  }
  .accordion--flex-container {
    width: 90%;
    min-height: 30rem;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 5%;
    justify-content: space-between;
    position: relative;
  }
  .accordions--flex-container:last-child() {
    padding-left: 50rem;
  }
  .accordions--flex-child {
    border: 0.001px solid #005ae2;
    border-radius: 8px;
    width: 30%;
    height: 28rem;
    margin: 0;
    padding: 3rem 0 0 2rem;
  }
  
  .absolute--positioning {
    width: 35%;
    position: absolute;
    height: 40rem;
    left: 35%;
    transform: translate(-10%, -13%);
    z-index: 999;
    padding-top: 9%;
    box-sizing: border-box;
    background-color: #1e3448;
    color: #fff;
    border: none;
  }
  .wrapper {
    padding-left: 2rem;
  }
  .accordion--items {
    width: 100%;
    height: 70%;
    display: block;
    margin: 0;
    padding: 4rem 0 0 0 0;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
  .accordion--heading {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
  }
  .acc--img {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
  }
  
  .acc {
    color: #fff;
  }
  .items {
    display: block;
    padding-top: 1.5rem;
  }
  .space {
    width: 50%;
    height: 5rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 8rem;
  }
  .sp {
    border: 0.2px solid #005ae2;
  }
  .form {
    position: relative;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    background-color: #1e3448;
    opacity: 0.95;
    margin-top: 5rem;
  }
  .form--bgr-img {
    width: 30rem;
    height: 100%;
  }
  
  form {
    width: 30rem;
    height: 25rem;
    position: absolute;
    background-color: #f9fbfd;
    border: 0.2px solid #fff;
    border-radius: 5px;
    outline: none;
    top: 5%;
    left: 15%;
    padding: 3rem 2rem 0 2rem;
    box-sizing: border-box;
  }
  label {
    display: block;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
  }
  .input--flex {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 1rem 1rem;
  }
  .input--flex:nth-child(2) {
    font-weight: 600;
    color: green;
  }
  
  input {
    width: 100%;
    height: 2rem;
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
    outline: none;
    border: 0.2px solid #005ae2;
    border-radius: 5px;
  }
  .input--flex-child {
    border: 0.2px solid #005ae2;
    color: #005ae2;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1rem;
  }
  .form--text,
  ::placeholder {
    color: #005ae2;
    font-size: 1.2rem;
  }
  
  .form--btn {
    width: 100%;
    height: 2rem;
    background-color: #005ae2;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 1rem 0 2.5rem 0rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  .trim {
    width: 20px;
    height: 15px;
  }
  .FAQ {
    display: flex;
    position: relative;
    height: 60rem;
    padding-top: 3%;
    margin-bottom: 15rem;
  }
  .faq {
    width: 25rem;
  }
  .faq--absolute {
    position: absolute;
    right: -2rem;
    bottom: -15rem;
  }
  .FAQ--container {
    width: 50%;
    height: 55rem;
    margin-left: 5rem;
    box-sizing: border-box;
  }
  .faq--h6 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: -2px;
  }
  .faqs--p-ics-ct {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1.5rem 0.5rem 0.3rem 2rem;
    border-bottom: 0.2px solid #d6d6d6;
    box-sizing: border-box;
  }
  .faqs-p {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    color: #141414;
  }
  .xtra-info {
    position: absolute;
    top: 50%;
    color: #141414;
    font-family: sans-serif;
    line-height: 1.5;
  }
  .faqs--icon {
    width: 20px;
    height: 20px;
  }
  .svg {
    stroke: #000;
    width: 20px;
    height: 20px;
  }
  .form--copy {
    height: 15rem;
  }
  .form-copy-abs {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
  }
  .abs-h1 {
    color: #f9fbfd;
    margin-bottom: 3.5rem;
    font-weight: 550;
  }
  .abs-link {
    color: #f9fbfd;
    text-decoration: none;
    text-transform: capitalize;
  }
  .footer--ct {
    position: relative;
    min-height: 30rem;
    display: flex;
    justify-content: space-between;
  }
  .footer--grid-ct {
    position: absolute;
    width: 70%;
    height: 40rem;
    left: 10%;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 2rem;
  }
  .ft--icons {
    grid-row: span 2/-6;
  }
  .footer--grid-child {
    padding-left: 3rem;
  }
  .footer--list {
    display: block;
    font-size: 1.3rem;
  }
  .footerh3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    letter-spacing: -1px;
  }
  .grid--icons {
    margin-bottom: 1.5rem;
  }
  .socials {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.5rem;
  }
  .sub--ft-ct {
    width: 30%;
    height: 3rem;
    margin-top: -5rem;
    margin-left: 70%;
  }
  .sub-link {
    display: inline-block;
    color: #112232;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 0.5px solid #112232;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif;
    cursor: pointer;
  }
  .lt {
    border: none;
  }